$color-ucla-gold: rgb(255, 186, 10);
$color-ucla-gold-darker: rgb(179, 128, 0);
$color-vermilion-lighter: rgb(244, 151, 138);
$color-vermilion-darker: rgb(154, 31, 14);
$color-ucla-gold-lighter: rgb(255, 219, 128);
$color-bleu-de-france-dark: rgb(16, 112, 209);
$color-bleu-de-france-light: rgb(84, 163, 242);
$color-silver: rgb(127, 136, 145);
$color-white: rgb(255, 255, 255);
$color-bleu-de-france: rgb(37, 138, 239);
$color-bleu-de-france-darker: rgb(12, 87, 161);
$color-bleu-de-france-lighter: rgb(132, 189, 246);
$color-ucla-gold-dark: rgb(230, 164, 0);
$color-vermilion-light: rgb(239, 101, 82);
$color-vermilion-dark: rgb(201, 40, 19);
$color-ucla-gold-light: rgb(255, 204, 77);
$color-rich-black: rgb(0, 17, 35);
$color-cloud: rgb(233, 243, 253);
$color-oxford-blue: rgb(0, 38, 77);
$color-vermilion: rgb(235, 59, 36);
$color-light-grey: #e9ecef;
$color-white: #fff;

// GENERAL
$color-primary: #ff6f60;

// INPUTS
$color-input-text: #222a42;
$color-input-border: rgba(29, 37, 59, 0.2);