$font-heading: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-text: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-xl: 64px;
$font-l: 46px;
$font-m: 32px;
$font-s: 24px;
$font-sm: 14px;
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-normal: 400;
$weight-light: 300;