$size-xxxl: 64px;
$size-xxl: 48px;
$size-xl: 36px;
$size-l: 24px;
$size-m: 16px;
$size-s: 13px;
$size-xs: 11px;

$size-height-xl: 100px;
$size-height-l: 80px;
$size-height-m: 60px;
$size-height-s: 40px;
$size-height-xs: 20px;

$size-dashboard-scale: 0.95;